<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fabicool_ApiRoadmap" setup_version="1.0.0">
        <sequence>
            <module name="Magento\Catalog"/>
            <module name="Magento\Sales"/>
            <module name="Magento\Newsletter"/>
        </sequence>
    </module>
</config>
